*{
    margin:0;
    padding:0;
}
header{
    width:100%;
    overflow: hidden;
    background-color: black;
    color: white;
}
.headerText{
    font-size:xx-large;
    width:40%;
    background-color: green;

}
header nav{
    float: right;
    color: white;

}
a{
    color: white;
}